@model Project1.Models.Trip

@{
    string title = "Add Things to Do in " + ViewBag.Destination;
    ViewBag.Title = title;
    string message = ViewBag.Message;
}

<h2>@title</h2>
@if (!string.IsNullOrEmpty(message)) {
    <div class="alert alert-secondary">
        <h1>Trip to @message added.</h1>
    </div>
}
<form asp-action="EnterThingsToDo" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="@Model.ThingToDo1" class="form-control">
    </div>
    <div class="form-group">
        <input asp-for="@Model.ThingToDo2" class="form-control">
    </div>
    <div class="form-group">
        <input asp-for="@Model.ThingToDo3" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Trip" asp-action="Cancel" class="btn btn-outline-secondary">Cancel</a>
</form>